## Database Ghost config
database__client=mysql
database__connection__host=shared_mysql
database__connection__user=root
database__connection__password=testing
database__connection__database=gbfest

## Domain config
url=http://0.0.0.0:8080
#url=https://beta.geekbeacon.org

## Email settings Production 
#mail__from=donotreply@domain
#mail__transport=SMTP
#mail__options__port=587
#mail__options__host=
#mail_options_service=SMTP
#mail__options__auth__user=
#mail__options__auth__pass=

##MySQL config 
MYSQL_ROOT_PASSWORD=testing 
MYSQL_DATABASE=gbfest


## GS 
#storage__active=gcs
#storage__gcs__bucket=gb-dev-testing
#storage__gcs__host=storage.googleapis.com
#storage__gcs__protocol=https
#storage__gcs__hash=true
#storage__gcs__hashAlgorithm=sha512
#storage__gcs__hashLength=16
#
#GOOGLE_APPLICATION_CREDENTIALS=/var/lib/ghost/keys/service.json

#ENV_VERSION=3.41.5

## DEVEL ONLY
## MailHog Settings TESTING ONLY
mail__transport=SMTP
mail__options__port=1025
mail__options__host=mail
