<ul class='c-social-icons o-plain-list'>
  {{#if @site.twitter}}
    <li class='c-social-icons__item'  title="GeekBeacon Twitter">
      <a href='{{ twitter_url }}' target='_blank' rel='noopener'>
        <span class='c-social-icons__icon' data-icon='ei-sc-twitter' data-size='s'></span>
        <span class='u-hidden-visually'>Twitter</span>
      </a>
    </li>
  {{/if}}

  {{#if @site.facebook}}
    <li class='c-social-icons__item'  title="GeekBeacon Facebook" >
      <a href='{{ facebook_url }}' target='_blank' rel='noopener'>
        <span class='c-social-icons__icon' data-icon='ei-sc-facebook' data-size='s'></span>
        <span class='u-hidden-visually'>Facebook</span>
      </a>
    </li>
  {{/if}}

  <li class='c-social-icons__item'  title="GeekBeacon YouTube">
    <a href='https://www.youtube.com/geekbeaconyt' target='_blank' rel='noopener'>
      <span class='c-social-icons__icon' data-icon='ei-sc-youtube' data-size='s'></span>
    </a>
  </li>

  <li class='c-social-icons__item'  title="GeekBeacon Twitch">
    <a href='https://www.twitch.tv/geekbeacon' target='_blank' rel='noopener'>
      <span class='c-social-icons__icon' data-icon='ei-sc-tumblr' data-size='s'></span>
    </a>
  </li>

  <li class='c-social-icons__item'  title="GeekBeacon Instagram">
    <a href='https://www.instagram.com/geekbeacon' target='_blank' rel='noopener'>
      <span class='c-social-icons__icon' data-icon='ei-sc-instagram' data-size='s'></span>
    </a>
  </li>


  <li class='c-social-icons__item'  title="GeekBeacon Github">
    <a href='https://github.com/GeekBeacon' target='_blank' rel='noopener'>
      <span class='c-social-icons__icon' data-icon='ei-sc-github' data-size='s'></span>
    </a>
  </li>







</ul>
