<ul class='c-social-icons o-plain-list'>
  <li class='c-social-icons' title="GeekBeacon Discord">
    <a href='https://discord.gg/geekbeacon' aria-label='Discord' target='_blank' rel='noopener'>
      <i class="fab fa-discord"></i>
    </a>
  </li>
  
  {{#if @site.twitter}}
    <li class='c-social-icons' title="GeekBeacon Twitter">
      <a href='{{ twitter_url }}' aria-label='Twitter' target='_blank' rel='noopener'>
        <i class="fab fa-twitter-square"></i>
      </a>
    </li>
  {{/if}}

  {{#if @site.facebook}}
    <li class='c-social-icons' title="GeekBeacon Facebook">
      <a href='{{ facebook_url }}' aria-label='Facebook' target='_blank' rel='noopener'>
        <i class="fab fa-facebook-square"></i>
      </a>
    </li>
  {{/if}}

  <li class='c-social-icons' title="GeekBeacon YouTube">
    <a href='https://www.youtube.com/geekbeaconyt' aria-label='YouTube' target='_blank' rel='noopener'>
      <i class="fab fa-youtube"></i>
    </a>
  </li>

  <li class='c-social-icons' title="GeekBeacon Twitch">
    <a href='https://www.twitch.tv/geekbeacon' aria-label='Twitch' target='_blank' rel='noopener'>
      <i class="fab fa-twitch"></i>
    </a>
  </li>

  <li class='c-social-icons' title="GeekBeacon Instagram">
    <a href='https://www.instagram.com/geekbeacon' aria-label='Instagram' target='_blank' rel='noopener'>
      <i class="fab fa-instagram"></i>
    </a>
  </li>

  <li class='c-social-icons' title="GeekBeacon Github">
    <a href='https://github.com/GeekBeacon' aria-label='GitHub' target='_blank' rel='noopener'>
      <i class="fab fa-github-square"></i>
    </a>
  </li>

  <li class='c-social-icons' title="GeekBeacon Forums">
    <a href='https://forum.geekbeacon.org' aria-label='Discourse' target='_blank' rel='noopener'>
      <i class="fab fa-discourse"></i>
    </a>
  </li>
</ul>