/*------------------------------------*\
  Components > Footer
\*------------------------------------*/

.c-footer {
  padding: $space-32 0;
  margin-top: $space-32;
  background-color: var(--bg-gray);

  @include mq($from: desktop) {
    margin-top: $space-64;
    padding: $space-64 0 $space-32 0;
  }

  .c-subscribe-form .form-group,
  .c-subscribe-form__input[type=email] {
    background-color: var(--bg-color);
  }

  &__headline {
    margin-bottom: $space-16;
    font-size: $type-xs;
    line-height: $type-xs-lh;
    font-weight: $type-600;
    text-transform: uppercase;
    letter-spacing: $global-letter-spacing;
  }

  &__bottom {
    @include mq($until: desktop) {
      margin-top: $space-32;
    }
  }

  &__copyright {
    color: var(--color-gray);

    a {
      color: var(--color-gray);
      transition: color $global-faster-transition ease-in-out;

      @include attention() {
        color: var(--color-brand);
      }
    }

    @include mq($until: tablet) {
      text-align: center;
      margin-bottom: $space-8;
    }
  }
}

.c-footer-list {
  margin-bottom: $space-32;

  li {
    display: block;
    letter-spacing: 0;
    font-size: $type-xs;
    line-height: $type-xs-lh;
    text-transform: initial;
  }

  a {
    display: block;
    padding: 0;
    font-weight: $type-400;
    margin-bottom: half($space-8);
    padding-bottom: half($space-8);
    transition: color $global-faster-transition ease-in-out;

    @include attention() {
      color: var(--color-brand);
    }
  }
}